---
import About from "@/components/about.astro"
import Contact from "@/components/contact.astro"
import Footer from "@/components/footer.astro"
import Hero from "@/components/hero.astro"
import Portfolio from "@/components/portfolio.astro"
import Spacer from "@/components/spacer.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Javier Moreno">
  <main class="overflow-hidden">
    <Hero />
    <Spacer />
    <About />
    <Spacer />
    <Portfolio />
    <Spacer />
    <Contact />
  </main>
  <Footer />
</Layout>
