---
import GithubIcon from "@/assets/icons/github.astro"
import LinkedinIcon from "@/assets/icons/linkedin.astro"
import TwitterIcon from "@/assets/icons/twitter.astro"
import { links } from "@/data.json"
---

<footer id="footer">
  <div class="flex text-center md:justify-between w-full mx-auto px-10 my-2">
    <div class="flex flex-wrap justify-center md:justify-between">
      <div class="hidden md:flex ">
        Made with ❤️, by&nbsp<a
          href="http://javimoreno.epizy.com/"
          target="_blank"
          class="text-blue-500">Javier Moreno</a
        >, Open sourced on&nbsp
        <a
          class="mt-1"
          href="https://github.com/zougari47/portfolio-template"
          target="_blank"
          aria-label="github code source"
          ><GithubIcon height="24" stroke="#0d6efd" /></a>
      </div>
    </div>

    <div class="flex flex-wrap mb-2">
      <a href={links.twitter} target="_blank" aria-label="twitter">
        <TwitterIcon height="24" stroke="#0d6efd" />
      </a>

      <a href={links.github} target="_blank" aria-label="github">
        <GithubIcon height="24" stroke="#0d6efd" />
      </a>

      <a href={links.linkedin} target="_blank" aria-label="linkedin">
        <LinkedinIcon height="24" stroke="#0d6efd" />
      </a>
    </div>
  </div>
</footer>
